@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@600;700&display=swap");

@font-face {
  font-family: "GolosUl";
  src: url(../fonts/Golos-UI_Bold.woff2) format(woff2),
    url(../fonts/Golos-UI_Bold.woff) format(woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GolosUl";
  src: url(../fonts/Golos-UI_Medium.woff2) format(woff2),
    url(../fonts/Golos-UI_Medium.woff) format(woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GolosUl";
  src: url(../fonts/Golos-UI_Regular.woff2) format(woff2),
    url(../fonts/Golos-UI_Regular.woff) format(woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
